<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app id="inspire">
    <!-- TOOLBAR/ BARRA DE ARRIBA -->
     <v-toolbar color="primary" app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
      <img src="rsc/HAL9000.png" alt="logo" height="60" width="60">
      <v-toolbar-title class="white--text">HAL9000</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-text-field prepend-icon="search" v-model="search" label="Search..." hide-details dark single-line></v-text-field>
        <v-btn fab flat>
          <v-icon color="#FFFFFF" size="30">perm_identity</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-divider></v-divider>

    <!-- LO DE LA IZQUIERDA -->
    <div>
    <v-navigation-drawer permanent
    fixed
    :clipped="$vuetify.breakpoint.mdAndUp"
    app
    v-model="drawer"
    >
      <v-toolbar flat>
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title" align-center>
              Navigation Bar
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      
      <v-divider></v-divider>
    
      <v-list dense class="pt-0">
        <!-- TODOS LOS ITEMS DE LA IZQUIERDA -->
        
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          :id="item.id"
          @click=""
          align-center
        >
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
  
          <v-list-tile-content>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    </div>

    <!---->
    <v-content>
          <v-container grid-list-md text-xs-center align-content-center>
              <v-layout row wrap >
                <v-flex>
                  <v-dialog v-model="dialog2"  max-width="500px">
                    <v-card>
                      <v-card-title>
                        <h2>Air Conditioner(name)</h2>
                        <v-spacer></v-spacer>
                        <v-btn color="red" color="red" @click="dialog2=false" flat>Cancel</v-btn>
                      </v-card-title>
                      <v-card-text>
                        <v-btn color="success">ON</v-btn>
                        <v-btn color="error">OFF</v-btn>

                      <v-switch v-model="switch1"></v-switch>
                        
                        <div>
                        <input v-model="Temperature" placeholder="set temperature">
                        <p>Temperature: {{ message }} &degC</p>
                        </div>
                          <v-container grid-list-md text-xs-start>
                            <v-layout row wrap >
                              <v-select
                    :items="['Fan', 'Cold', 'Hot']"
                    label="Mode"
                    required
                              ></v-select>
                              <v-select
                    :items="['Auto','25','50','75','100']"
                    label="Fan Speed"
                    required
                              ></v-select> 
                              <v-select
                    :items="['Automatic', '-90', '-45','0','45','90']"
                    label="Horizontal Blades Tilt"
                    required
                            ></v-select>

                             <v-select
                    :items="['Automatic', '22', '45','67','90']"
                    label="Vertical Blades Tilt"
                    required
                            ></v-select>
                                
                            </v-layout>
                          </v-container>  
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn  color="green" flat @click="dialog2=false">Confirm</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-flex>
              </v-layout>
            </v-container>
        </v-content>
  <!---->

  </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="js/persistent.js"></script>
</body>
</html>
