<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app id="inspire">
    <!-- TOOLBAR/ BARRA DE ARRIBA -->
     <v-toolbar color="primary" app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
      <img src="rsc/HAL9000.png" alt="logo" height="60" width="60">
      <v-toolbar-title class="white--text">HAL9000</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-text-field prepend-icon="search" v-model="search" label="Search..." hide-details dark single-line></v-text-field>
        <v-btn fab flat>
          <v-icon color="#FFFFFF" size="30">perm_identity</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-divider></v-divider>

    <!-- LO DE LA IZQUIERDA -->
    <div>
    <v-navigation-drawer permanent
    fixed
    :clipped="$vuetify.breakpoint.mdAndUp"
    app
    v-model="drawer"
    >
      <v-toolbar flat>
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title" align-center>
              Navigation Bar
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      
      <v-divider></v-divider>
    
      <v-list dense class="pt-0">
        <!-- TODOS LOS ITEMS DE LA IZQUIERDA -->
        
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          :id="item.id"
          @click=""
          align-center
        >
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
  
          <v-list-tile-content>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    </div>
    <v-content>
            <!-- TODOS LOS CIRCULOS -->
          <v-container grid-list-md text-xs-center align-content-center>
              <v-layout row wrap >

              </v-layout>
            </v-container>
        </v-content>
  </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="js/persistent.js"></script>
</body>
</html>